/*
  Pangram Pangram Telegraf
*/

@font-face {
  font-family: "PP Telegraf";
  src: url("../public/fonts/PPTelegraf-Bold.woff2") format("woff2"),
    url("../public/fonts/PPTelegraf-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf";
  src: url("../public/fonts/PPTelegraf-Regular.woff2") format("woff2"),
    url("../public/fonts/PPTelegraf-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf";
  src: url("../public/fonts/PPTelegraf-UltraLight.woff2") format("woff2"),
    url("../public/fonts/PPTelegraf-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/*
  Pangram Pangram Neue Montreal
*/

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../public/fonts/PPNeueMontreal-Light.woff2") format("woff2"),
    url("../public/fonts/PPNeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../public/fonts/PPNeueMontreal-Book.woff2") format("woff2"),
    url("../public/fonts/PPNeueMontreal-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../public/fonts/PPNeueMontreal-Bold.woff2") format("woff2"),
    url("../public/fonts/PPNeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../public/fonts/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("../public/fonts/PPNeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../public/fonts/PPNeueMontreal-Thin.woff2") format("woff2"),
    url("../public/fonts/PPNeueMontreal-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
